# Python bytecode files
__pycache__/

# Package virtual environments
/.venv/
/node_modules/

# Distribution folder
/dist/

# All files in migrations except __init__.py
/src/example/app/migrations/*
!/src/example/app/migrations/__init__.py

# Temporary files
/.tmp/
