{% load static %}
<style nonce="{{ csp_nonce }}">
  #scroll-top:hover {
    background-color: color-mix(in srgb, var(--color-accent), transparent 20%);
  }
</style>
<a href="#"
   id="scroll-top"
   class="fixed invisible opacity-0 right-[15px] bottom-[15px] z-99999 w-10 h-10 rounded flex items-center justify-center bg-accent transition-all duration-400 [&.active]:visible [&.active]:opacity-100 hover:text-contrast"><i class="bi bi-arrow-up-short text-contrast text-2xl"></i></a>
<script defer src="{% static 'ui/widgets/scroll-top.js' %}"></script>
