{% load ui sass_tags static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    {% page_title %}
    <link rel="stylesheet" href="{% sass_src 'app/global.scss' %}" />
    <link rel="stylesheet"
          href="{% sass_src 'ui/bootstrap-icons/font/bootstrap-icons.scss' %}" />
    <script defer src="{% static 'ui/@alpinejs/csp/dist/cdn.min.js' %}"></script>
  </head>
  <body>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>
