{% load title %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {# meta tags #}
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="author" content="Christian Who Codes" />
    <meta property="og:type" content="website" />

    {% if SITE_FAVICON %}<link rel="icon" type="image/x-icon" href="{{ SITE_FAVICON }}">{% endif %}

    {% if SITE_APPLE_TOUCH_ICON %}
      <link rel="apple-touch-icon"
            type="image/png"
            sizes="180x180"
            href="{{ SITE_APPLE_TOUCH_ICON }}">
    {% endif %}

    {% if SITE_ANDROID_CHROME_ICON %}
      <link rel="icon"
            type="image/png"
            sizes="192x192"
            href="{{ SITE_ANDROID_CHROME_ICON }}" />
    {% endif %}

    {% if SITE_MSTILE %}<meta name="msapplication-TileImage" content="{{ SITE_MSTILE }}" />{% endif %}

    {% if SITE_MANIFEST %}<link rel="manifest" href="{{ SITE_MANIFEST }}">{% endif %}

    {% if SITE_KEYWORDS %}<meta name="keywords" content="{{ SITE_KEYWORDS }}" />{% endif %}

    {% if SITE_NAME %}
      <meta name="twitter:title" content="{{ SITE_NAME }}" />
      <meta name="twitter:image:alt" content="{{ SITE_NAME }}" />
      <meta property="og:site_name" content="{{ SITE_NAME }}" />
      <meta property="og:title" content="{{ SITE_NAME }}" />
    {% endif %}

    {% if SITE_DESCRIPTION %}
      <meta name="description" content="{{ SITE_DESCRIPTION }}" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}" />
      <meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
    {% endif %}

    {% if SITE_LOGO %}
      <meta name="twitter:image" content="{{ SITE_LOGO }}" />
      <meta property="og:image" content="{{ SITE_LOGO }}" />
    {% endif %}

    {% if SITE_URL %}<meta property="og:url" content="{{ SITE_URL }}" />{% endif %}

    {# vendors #}
    {% include "olyv/base/vendors/bootstrap.html" %}
    {% include "olyv/base/vendors/bootstrap-icons.html" %}
    {% include "olyv/base/vendors/aos.html" %}

    {% block assets %}
    {% endblock assets %}

    {% title %}
  </head>
  <body>
    {% include "olyv/base/modals/preloader.html" %}
    {% include "olyv/base/sections/navigation.html" %}
    <main>
      {% include "olyv/base/sections/hero.html" %}

      {% block main %}
      {% endblock main %}

    </main>
    {% include "olyv/base/btns/back-to-top.html" %}
    {% include "olyv/accounts/forms/logout.html" %}
  </body>
</html>
