{% load pkg org tailwind %}
{% pkg_name as pkg_name %}
<!doctype html>
<html lang="en">
  <head>
    {# Meta Tags #}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% org_description %}" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    {% block metatags %}
    {% endblock metatags %}
    {# Favicons #}
    <link
      rel="shortcut icon"
      href="{% org_favicon_url %}"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="{% org_apple_touch_icon_url %}" />
    {# Title #}
    {% block title %}<title>{% org_name %}</title>{% endblock title %}
    {# Fonts #}
    {% block fonts %}
    {% endblock fonts %}
    {# Vendor Files #}
    {% include "vendors/bootstrap-icons.html" %}
    {% include "vendors/aos.html" %}
    {# Main CSS Files #}
    {% tailwind_css %}
    {% block css %}
    {% endblock css %}
    {# Main JS Files #}
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    {% include pkg_name|add:"/widgets/preloader.html" %}
    {% include pkg_name|add:"/widgets/scroll-top.html" %}
    {% include pkg_name|add:"/sections/header-topbar.html" %}
    {% include pkg_name|add:"/sections/hero-breadcrumbs.html" %}
    {% block main %}
    {% endblock main %}
    {% include pkg_name|add:"/sections/footer-bottombar.html" %}
  </body>
</html>
