{% load components static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    {% page_title %}
    <link rel="stylesheet" href="{% static 'app/global.css' %}" />
    <script defer src="{% static 'components/vendors/@alpinejs/csp/dist/cdn.min.js' %}"></script>
  </head>
  <body>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>
