{% load ui %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% title %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    {# Vendors #}
    {% tailwindcss %}
    {% include 'ui/vendors/bootstrap-icons.html' %}
    {% include 'ui/vendors/aos.html' %}

    {% block head %}
    {% endblock head %}

  </head>
  <body>
    <main>

      {% block main %}
      {% endblock main %}

    </main>
  </body>
</html>
